<div class="containerComponent" id="order">
    <div class="titleComponent">
        <h2 class="containerTitle">cONTACTANOS</h2> <br>
        <h3 class="subtitleComponent">Nuestra especialidad son Sandwich, sin embargo tambien ofrecemos otros
            productos de excelente calidad a tu disposicion.</h3><br>
    </div>
    <div class="form">
        <form [formGroup]="registerContact" class="datos-personales">
            <!-- <mat-form-field appearance="outline" class="full-width">
                <mat-label></mat-label>
                <input
                matInput
                formControlName="nameClient"
                required
                maxlength="20"
                >
                <mat-error *ngIf="nameClient">Diligencia numero de calle </mat-error>
              </mat-form-field> -->


        </form>


    </div>
    <div class="contactSocialNetwork">
        <div class="paraf">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem earum quos quasi ullam. Commodi a
                molestiae officia quam asperiores quis distinctio sunt dolore magnam. Aspernatur corporis sit rerum
                possimus officiis.
            </p>
        </div>
        <div class="iconSocialNetwork">
            iconSocialNetwork
        </div>
    </div>
</div>