@import '/src/assets/css/mixins.scss';
@import '/src/assets/css/variables.scss';


.container {
  padding-top: 15.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  background-image: url(../../../assets/img/background/bck1.webp);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-wrap: wrap;
  align-content: center;
  max-width: 100%;
  @include Asmall {
    padding-top: 9.5rem;
  }
  // @include smallTablet{
  //   width: 2000px;
  // }
  // @include tabletLaptop{
  //   width: 2000px;
  // }
  // @include laptopDesktop{
  //   width: 2000px;
  // }
  // @include desktopFull{
  //   width: 2000px;
  // }
  // @include full{
  //   max-width: 100%;
  // }
}

.textWeolcome {
  align-items: center;
  justify-content: center;
  color: rgb(247, 247, 240);
  font-weight: 600;
  font-size: 2.25rem;
  font-style: italic;
  line-height: 2.25rem;
  margin-bottom: 2rem;
}

.textInvitation {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4.5rem;
  margin-bottom: 4rem;
  @include Asmall {
    font-size: 2.1rem;
    line-height: 3.5rem;
  }
}

.btn-primary {
  color: #fff;
  background-color: #ffc800;
  border-color: #ffc800;
  font-weight: 800;

  @include Asmall {
    font-size: 20px;
  }
}