<div class="container">
    <div class="textWeolcome">
        ¡Sanduches Don Cristobal!
    </div>
    <div class="logan">
        "Una experiencia agradable al paladar de sus clientes"
    </div>
    <div class="textInvitation masthead-heading text-uppercase">No pierdas tiempo,<br> realiza tu pedido
    </div>
    <a class="btn btn-primary btn-xl text-uppercase" href="#contact">pide tu sandwich</a>
    <jjva-ngx-whatsapp-button [ngx_whatsapp_phone]="phone" [ngx_whatsapp_text]="title"></jjva-ngx-whatsapp-button>
</div>