@import '/src/assets/css/variables.scss';
@import '/src/assets/css/fonts.scss';
@import '/src/assets/css/mixins.scss';


// .containerComponent{
//     height: 100hv;
// }

.containerLocation{
    padding: 5px;
    .containerMap{
        padding: 10px;

        .map{
            text-align: center;
        }

    }


    .text{
        padding: 50px;
        .Contact{
            padding: 25px 0px;
        }
        .contactDataImage{
            img{
                width: 215px;
            }

        }

    }


    .contactData{
        .direccion{
            font-weight: 700;
        }
        .telephone{
            a{
            color: black;
        }
        }

    }
    

}