<div class="containerComponent" id="contact">
    <div class="titleComponent">
        <h2 class="containerTitle">Te estamos esperando</h2> <br>
        <h3 class="subtitleComponent">Nuestra sede se encuentra en la universidad cooperativa Sede Ibague</h3><br>
    </div>

    <div class="row containerLocation">
        <div class="col-xs-12 col-sm-12 col-lg-6  col-mb-6 containerMap">
                <iframe
                class="mapGoogle"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3344.9412262018755!2d-75.2438397384376!3d4.44310932097151!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e38c483417f4a0d%3A0x8a9f0fdfdf220bbc!2sCl.%2010%20%231-80%2C%20Ibagu%C3%A9%2C%20Tolima!5e0!3m2!1sen!2sco!4v1667615086559!5m2!1sen!2sco"
                style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>

        <div class="col-xs-12 col-sm-12 col-lg-6  col-mb-6 textContent">
            <p class="section-subheading text-muted">
                Estaremos encantados de antender tu solicitud. ubicanos en nuestras redes sociales y con gusto te atenderemos
            </p>
            <div class="row Contact">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 contactDataImage">
                    <img src="../../../assets/img/logoUniverdad.png" alt="">
                </div>

                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8  col-xl-8 contactData">
                    <div class="direccion">
                        <p class="Direccion">Calle 10 # 64 Cafeteria Principal <br>Iague Tolima</p>
                    </div>
                    <div class="telephone">
                        <a href="tel:+573212299883">Contacto +57 321 229 9883</a>
                    </div>

                    <div class="contactSocialNetwork">
                        <h5>Encuentranos en nuestras redes sociales</h5>
                        <div class="iconSocialNetwork">
                            <div class=" iconSocial">
                                <a href="https://wa.me/+573212299883/?text=tu%20texto%20personalizado" target="_blank">
                                    <img src="../../../assets/img/Social Network/Whatsaap.png" width="50" height="50">
                                 </a>
                            </div>
                            <div class="iconSocial">
                                <a href="https://www.facebook.com/" target="_blank">
                                    <img src="../../../assets/img/Social Network/Facebook.jpg" width="50" height="50">
                                 </a>
                            </div>
                            <div class="iconSocial">
                                <a href="https://www.instagram.com/" target="_blank">
                                    <img src="../../../assets/img/Social Network/Instagram.png" width="50" height="50">
                                 </a>
                            </div>
                            <div class="iconSocial">
                                <a href="https://twitter.com/?lang=en" target="_blank">
                                    <img src="../../../assets/img/Social Network/Twitter.png" width="50" height="50">
                                 </a>
                            </div>

                        </div>



                    </div>




                  
                   
                </div>


            </div>

            
            

        </div>

    </div>
</div>