$Asmall: 575.98px;
$small: 576px;
$Atablet: 767.98px;
$tablet: 768px;
$Alaptop: 991.98px;
$laptop: 992px;
$Adesktop: 1199.98px;
$desktop: 1200px;
$Afull: 1919.98px;
$full: 1920px;


$color-background-body: #fff;
