@import '/src/assets/css/mixins.scss';
@import '/src/assets/css/variables.scss';
@import '/src/assets/css/fonts.scss';


.containerComponenUst{
    height: 92vh;
    @include Asmall{
        margin: 0 8%;
        padding: 10% 1%;
    }
    @include smallTablet{
        margin: 0 8%;
        padding: 10% 1%;
    }
    @include tabletLaptop{  
        margin: 0 8%;
        padding: 10% 2%;
    }
    @include laptopDesktop{
        margin: 0 8%;
        padding: 10% 2%;
    }
    @include desktopFull {
        margin: 0 8%;
        padding: 5% 4%;
    }
    @include full {
        margin: 0 8%;
        padding: 5% 4%;
    }
}


h2{
    text-transform: uppercase;
    padding: 20px 0;
    font-weight: 700px;
    @include Asmall {
        padding: 2px 0;
    }
    @include full{
        padding: 3% 0;
    }
}

.containerUs{
 //   background-color: antiquewhite;
    @include full{
        padding: 5% 4%;
    }
}

.imageUs {
  //  background-color: chartreuse;

}

img {
    width: 350px;
    border-radius: 50%;
    @include Asmall {
        width: 250px;
        padding: 20px 0;
    }
    @include full{
        width: 440px;
    }
}

p {
    text-align: justify;
    font-size: 18px;
    @include Asmall {
        padding: 25px 0;
        font-size: 18px;
    }
    @include smallTablet{
        margin-top: 25px;
    }
    @include full{
        padding: 25px 0;
        font-size: 24px;
    }
}