<div class="containerComponent" id="us">
    <div class="titleComponent">
        <h2 class="containerTitle">Nostros</h2>
    </div>
    <div class="row containerUs">
        <div class="col-sm-12 col-md-6  imageUs text-center">
            <img src="./../../../assets/img/us/sandwich_gourmet.jpg" alt="local">
        </div>
        <div class="col-sm-12 col-md-6 textUS">
            <p class="section-subheading text-muted">
                Somos una empresa 100% Ibaguereña  dedicada a la producción y comercialización de sándwiches
                fríos y calientes, y otros alimentos dirigidos hacia la comunidad estudiantil de la universidad cooperativa de colombia
                Empezamos en 2013 como una pequeña idea de negocio la cual se  implementamo la especialidad 
                de sándwiches, y continuamente agregando nuevos productos a nuestra carta.<br>
                 Desde entonces ha tenido un progresivo crecimiento gracias a todo el apoyo de la comunidad estudiantil, administrativa  y docente. 

            <p>
        </div>
    </div>
</div>