@import '/src/assets/css/mixins.scss';
@import '/src/assets/css/variables.scss';
@import '/src/assets/css/fonts.scss';



.containerTitle {
    @include full {
        margin-bottom: 50px;
    }
}

.containerUs {
    padding: 5px;
    img {
        width: 350px;
        border-radius: 50%;
        @include Asmall {
            width: 250px;
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 20px 0;
        }
        @include smallTablet{
            margin-top: 20px;
            margin-bottom: 20px;
        }

        @include tabletLaptop {
            margin-top: 30px;
        }
        @include laptopDesktop {
            margin-top: 30px;
        }
        @include desktopFull {
            margin-top: 30px;
        }
        @include full {
            margin-top: 15px;
            width: 440px;
        }
    }

    .textUS{
        text-align: justify;
        padding: 5px 10px;
        @include Asmall {
            font-size: 18px;
        }


        @include smallTablet{
            font-size: 18px;
        }
        @include tabletLaptop {
            font-size: 15px;
        }
        @include laptopDesktop {
            font-size: 18px;
        }
        @include desktopFull {
            font-size: 20px;
        }
        @include full{
            padding: 50px 10px;
            font-size: 23px;
        }
    }
}





// p {
//     text-align: justify;
//     font-size: 18px;

//     @include Asmall {
//         padding: 25px 0;
//         font-size: 18px;
//     }

//     @include smallTablet {
//         margin-top: 25px;
//     }

//     @include full {
//         padding: 25px 0;
//         font-size: 24px;
//     }
// }







