<section class="page-section" id="services">
    <h2 class="section-heading text-uppercase">Nostros</h2>
    <div class="row container">
        <div class="col-6 imageUs">
         <img src="./../../../assets/img/us/loca.jpg" alt="local">
        </div>
        <div class="col-6 textUS">
            <h3 class="section-subheading text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet
                culpa pariatur, reprehenderit provident unde quam consequuntur ipsa corrupti nisi, magni ipsum dolorum
                quod deleniti, alias dolorem aliquid maiores! Fugit, architecto?.</h3>
        </div>
    </div>
</section>