<div class="containerComponent" id="products">
    <div class="titleComponent">
        <h2 class="containerTitle">Nuestro Producto</h2>
        <h3 class="subtitleComponent">Nuestra especialidad son Sandwich, sin embargo tambien ofrecemos otros
            productos de excelente calidad a tu disposicion.</h3><br>
    </div>
    <div class="row product">
        <div class="col-sm-12 col-lg-6  mb-6  image">
            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                <img class="img" src="assets/img/ProductosIII/S-AL-PASTOR-600x429.jpg" alt="..." />
            </a>
        </div>
        <div class="col-sm-12 col-lg-6  mb-6 textContent">
            <p class="section-subheading text-muted">
                <strong>Sanduches Don Cristobal</strong> ofeece una solucion rapida, saludable y agradable al paladar de
                sus clientes en medio de sus ocupaciones, otorgando bienestar y satisfaccion en su dia a dia.<br>
                Nuestro producto es elaborado con los mas altos standares de calidad y con todo el amor para nuestra comunidad estudiantil y docente de la Universidad Cooperativa De Colombia.<br>
                NUestros ingresientes son:

            </p>
            <div class="list">
                <ul>
                    <li>Pan Especial</li>
                    <li>Jamon</li>
                    <li>Queso Doble Crema</li>
                    <li>Queso Motzarela</li>
                    <li>Salsa de la casa</li>
                </ul>
            </div>

        </div>





    </div>