<div class="containerComponent" id="portfolio">
    <div class="text-center titleComponent">
        <h2 class="section-heading text-uppercase">Productos</h2>
        <h3 class="section-subheading text-left subtitleComponent">Nuestra especialidad son Sandwich, sin embargo tambien ofrecemos otros
            productos de excelente calidad a tu disposicion.</h3>
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-6 mb-4">

            <div class="portfolio-item">
                <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                    <img class="img-fluid" src="assets/img/products/sandwich.jpg" alt="..." />
                </a>
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading">Sandwich</div>
                    <div class="portfolio-caption-subheading text-muted"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">

            <div class="portfolio-item">
                <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                    <img class="img-fluid" src="assets/img/products/hamburguesa.jpg" alt="..." />
                </a>
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading">Hambueguesas</div>
                    <div class="portfolio-caption-subheading text-muted"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">

            <div class="portfolio-item">
                <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                    <img class="img-fluid" src="assets/img/products/burritos.jpg" alt="..." />
                </a>
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading">Buritos Mexicanos</div>
                    <div class="portfolio-caption-subheading text-muted"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">

            <div class="portfolio-item">
                <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                    <img class="img-fluid" src="assets/img/products/gaseosas.jpg" alt="..." />
                </a>
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading">Gaeosas</div>
                    <div class="portfolio-caption-subheading text-muted"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">

            <div class="portfolio-item">
                <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                    <img class="img-fluid" src="assets/img/products/Jugos.jpg" alt="..." />
                </a>
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading">Jugos Naturales</div>
                    <div class="portfolio-caption-subheading text-muted"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">

            <div class="portfolio-item">
                <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                    <img class="img-fluid" src="assets/img/products/galletas.jpg" alt="..." />
                </a>
                <div class="portfolio-caption">
                    <div class="portfolio-caption-heading">Galletas</div>
                    <div class="portfolio-caption-subheading text-muted"></div>
                </div>
            </div>
        </div>
    </div>
</div>