@import '/src/assets/css/mixins.scss';
@import '/src/assets/css/variables.scss';



.titleComponent{
    padding: 25px;
}

.subtitleComponent{
    font-size: 16px;
    padding-top: 10px;
}

img{
    width: 73%;
}