<div class="containerComponent" id="products">
    <div class="titleComponent">
        <h2 class="containerTitle">Nuestro Producto</h2> <br>
        <h3 class="subtitleComponent">Nuestra especialidad son Sandwich, sin embargo tambien ofrecemos otros
            productos de excelente calidad a tu disposicion.</h3><br>
    </div>
    <div class="row product">
        <div class="col-lg-6 col-sm-6 mb-6  image">
            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                <img class="img" src="assets/img/ProductosIII/S-AL-PASTOR-600x429.jpg" alt="..." />
            </a>
        </div>
        <div class="col-lg-6 col-sm-6 mb-6 text">
            <p class="section-subheading text-muted">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis sunt optio velit assumenda repellat
                labore magnam excepturi ut nemo, architecto officia obcaecati id veritatis voluptatum iusto, suscipit
                quibusdam aperiam eligendi?
            </p>
            <div class="list">
                <ul>
                    <li>Pan Especial</li>
                    <li>Jamon</li>
                    <li>Queso Doble Crema</li>
                    <li>Queso Motzarela</li>
                    <li>texto</li>
                    <li>texto</li>
                    <li>texto</li>
                  </ul>
            </div>

        </div>





    </div>