@import '/src/assets/css/variables.scss';
@import '/src/assets/css/fonts.scss';
@import '/src/assets/css/mixins.scss';



.navbar {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #212529;
    @include full{
       height: 80px;
    }
}


.contaimerImage {
    img {
        width: 130px;
    }
    @include Asmall {
        display: none;
    }
    @include full{
        margin-left: 135px;
     }
}

.containerMenuNavigatios {
    text-align: end;
    background-color: burlywood;
    li {
        margin: 1px 15px;
    }
}

