<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="contaimerImage">
        <a class="navbar-brand" href="#home"><img src="../../../assets/img/logotexto.gif" alt="..." /></a>
    </div>
    <div class="containerMenuNavigatios">
        <ul class="menuList ">
            <li class="item"><a class="nav-link" href="#us">Nosotros</a></li>
            <li class="item"><a class="nav-link" href="#products">Producto</a></li>
            <li class="item"><a class="nav-link" href="#contact">Encuentranos</a></li>
            <li class="item"><a class="nav-link" href="#order">Contactanos</a></li>
        </ul>
    </div>
    <div class="respmenu">
        <input type="checkbox" id="menu-check">
        <label id="menu" for="menu-check">
            <span id="menu-abrir">&#9776;</span>
            <span id="menu-cerrar">X</span>
        </label>

        <nav>
          <ul>
            <li><a href="#us">
                Nosotros
            </a></li>
            <li><a href="#products">
                Producto
            </a></li>
            <li><a href="#contact">
                Encuentranos
            </a></li>
            <li><a href="#order">
                Contactanos
            </a></li>
          </ul>
        </nav>
      </div>






















    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars ms-1"></i>
    </button> -->
</nav>