<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="contaimerImage">
            <a class="navbar-brand" href="#home"><img src="../../../assets/img/logotexto.gif" alt="..." /></a>
        </div>
        <div class="containerMenuNavigatios">
                <ul class="menuList ">
                    <li class="item"><a class="nav-link" href="#us">Nosotros</a></li>
                    <li class="item"><a class="nav-link" href="#portfolio">Productos</a></li>
                    <li class="item"><a class="nav-link" href="#about">Contacto</a></li>
                    <li class="item"><a class="nav-link" href="#contact">Pedido</a></li>
                </ul>
        </div>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars ms-1"></i>
    </button> -->
</nav>




