@import '/src/assets/css/variables.scss';
@import '/src//assets/css/fonts.scss';
@import '/src/assets/css/mixins.scss';
@import '~bootstrap/scss/bootstrap';
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.containerComponent {
    height: 100vh;

    @include Asmall {
        margin: 16px 8%;
        padding: 10% 1%;
    }

    @include smallTablet {
        margin: 0 8%;
        padding: 10% 1%;
    }

    @include tabletLaptop {
        margin: 0 8%;
        padding: 10% 2%;
    }

    @include laptopDesktop {
        margin: 0 8%;
        padding: 10% 2%;
    }

    @include desktopFull {
        margin: 0 8%;
        padding: 5% 4%;
    }

    @include full {
        margin: 0 8%;
        padding: 5% 4%;
    }
}

.titleComponent {
    .containerTitle {
        text-transform: uppercase;
        padding: 15px 9px;
        font-weight: 700;
    }
}